@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    background-color: white;
    color: $pickledBluewood;
}

a:link, a:visited, a:hover, a:target {
    color: $pickledBluewood;
    text-decoration: none;
}

input[type="button"], input[type="submit"] {
    height: 1.7em;
    margin: 0 0.2em;
    padding: 0 0.5em;
    border-radius: 0.3em;
    background-color: $emerald;
    border: none;
    border-bottom: 1px solid hsl(111, 63%, 42%);
}

input[type="button"]:focus, 
input[type="button"]:hover, 
input[type="submit"]:focus,
input[type="submit"]:hover,
{
    border-bottom: 2px solid hsl(111, 63%, 42%);
}

input[type="button"]:active, 
input[type="submit"]:active,
{
    border-bottom: none;
}