@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/bulma";

$highlight-color: rgb(230, 230, 230);

$header-background: #76fa64;
$header-inverted: findColorInvert($header-background);

