.clear-mount {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: relative;
    height: 12em;
    width: 12em;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-img {
    background-image: url(../images/crazy-face.png);
    background-size: cover;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2em;
    width: 2em;
}