body {
  background-color: white;
  width: 980px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

@media screen and (max-width:940px) {
  width: auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

form {
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

main {
  position: relative;
  text-align: left;
  margin: 20px;
  height: 300px;
}

.loader {
  position: absolute;
  top: 500px; bottom: 500px;
  right: 0; left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  animation: App-logo-spin infinite 15s linear;
}

.error {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  color: red;
  margin: 20px;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}

.remove {  
  background: white;
  color: red;
}
.remove:hover {
      background-color: rgb(248, 213, 213);
}

.submit {  
  background: black;
  color: white;
  margin: 8px 0;
}
.submit:hover {
  color: black;
}

.expense {  
  background: rgb(112, 110, 110);
  color: white;
}