@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$space: 20px;
$height: 7rem;

.need-space{
    height: $space;
}
.navbar{
    height: $height;
}
.footer {
    position: absolute;
    overflow:hidden;
    width: 100%;
    height: $height;
  }

@import "../../node_modules/bulma/bulma";